In [1]:
import sqlite3
import pandas as pd

In [4]:
# Connect to the database
con = sqlite3.connect("sakila.db")

In [5]:
# Set SQL query as a comment
sql_query = '''SELECT * FROM sakila.db'''

In [6]:
# Use pandas to pass SQL query using connection from SQLite3
df = pd.read_sql(sql_query, con)

DatabaseError: Execution failed on sql 'SELECT * FROM sakila.db': no such table: sakila.db