# 1. Import Data

In [2]:
import pandas as pd

In [41]:
filename = 'Sample.csv'

In [73]:
data = pd.read_csv(filename)

In [74]:
data

         date  stock_in  cost
0   10/1/2017       100     2
1  10/12/2017       200     1
2   11/5/2017       300     1
3  12/10/2017       100     3

# 2. FIFO

In [80]:
import Queue
import time

In [75]:
def show_stock(q): 
    total_cost = 0
    total_stock_in = 0
    for elem in list(q.queue):
        print elem;
        print '\n';
        total_cost += elem.stock_in * elem.cost
        total_stock_in += elem.stock_in

    print "Ave cost: "
    print float(total_cost) / total_stock_in

In [76]:
def sell(q, sell_amount): 
    while((not q.empty()) and sell_amount>0):
        if(q.queue[0].stock_in>sell_amount):
            q.queue[0].stock_in -= sell_amount
            sell_amount = 0
        else:
            sell_amount -= q.queue[0].stock_in
            q.get()

In [78]:
def purchase(q, purchase_date, purchase_amount, purchase_cost):
    q.put({'date':purchase_date, 'stock_in':purchase_amount, 'cost':purchase_cost})

In [82]:
q = Queue.Queue()

# Put items at te end of the queue

for x in range(0,data.shape[0]):
    q.put(data.loc[x,:])

show_stock(q)

# - 50
sell(q, 150)
        
print "**********************************\n"
show_stock(q)

# purchase(q, )

date        10/1/2017
stock_in          100
cost                2
Name: 0, dtype: object


date        10/12/2017
stock_in           200
cost                 1
Name: 1, dtype: object


date        11/5/2017
stock_in          300
cost                1
Name: 2, dtype: object


date        12/10/2017
stock_in           100
cost                 3
Name: 3, dtype: object


Ave cost:
1.42857142857
**********************************

date        10/12/2017
stock_in           150
cost                 1
Name: 1, dtype: object


date        11/5/2017
stock_in          300
cost                1
Name: 2, dtype: object


date        12/10/2017
stock_in           100
cost                 3
Name: 3, dtype: object


Ave cost:
1.36363636364