### Updated on 9.30.2018

### str.join

The method join() returns a string in which the string elements of sequence have been joined by __str separator__.

In [1]:
lst = ['a', 'bc', 'test']
lst

['a', 'bc', 'test']

In [3]:
separator = '-'
separator.join(lst)

'a-bc-test'

### str.format
The method format() returns a string in which anything in the brackets {} will be replaced.

In [4]:
"The sum of 1 + 2 is {0}".format(1+2)

'The sum of 1 + 2 is 3'

### String bootcamp

In [2]:
'This is also a string'

'This is also a string'

In [3]:
"This is a string"

'This is a string'

In [4]:
"I'm a string"

"I'm a string"

In [5]:
print 'Hello World'

Hello World

In [7]:
print 'Here is a new line \nand here is the second line'

Here is a new line
and here is the second line

In [8]:
# To use print function from Python 3 in Python 2
from __future__ import print_function

print('Hello World')

Hello World

In [9]:
len('Hello World')

11

In [36]:
s = 'abcdef'

In [37]:
s

'abcdef'

In [38]:
print(s)

abcdef

In [39]:
s[0]

'a'

In [40]:
# Grab the string starting from index 1.
s[1:]

'bcdef'

In [51]:
# Grab the string from the begining up to index 3, but excluding index 3. 
s[:3]

'abc'

In [42]:
s[:]

'abcdef'

In [43]:
s[-1]

'f'

In [45]:
s[-6]

'a'

In [46]:
'''
Nothing for the first argument
Nothing for the second
Jump by 2

It gets every second item of the sequence sliced
'''

s[::2]

'ace'

In [27]:
s[1::2]

'bdf'

In [49]:
s[0:3:2]

'ac'

In [50]:
s[1:3:1]

'bc'

In [7]:
s[::-1] # Reverse a string

'dneirf olleH'

In [31]:
s = s + ' Concatenate me!'

In [32]:
s

'Hello friend Contenate me! Concatenate me!'

In [33]:
letter = 'z'

In [34]:
letter*10

'zzzzzzzzzz'

In [35]:
s.upper()

'HELLO FRIEND CONTENATE ME! CONCATENATE ME!'

In [36]:
s.lower()

'hello friend contenate me! concatenate me!'

In [37]:
s.split()

['Hello', 'friend', 'Contenate', 'me!', 'Concatenate', 'me!']

In [38]:
s.split('e')

['H', 'llo fri', 'nd Cont', 'nat', ' m', '! Concat', 'nat', ' m', '!']

In [1]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'