In [1]:
'Hello'

'Hello'

In [2]:
'This is also a string'

'This is also a string'

In [3]:
"This is a string"

'This is a string'

In [4]:
"I'm a string"

"I'm a string"

In [5]:
print 'Hello World'

Hello World

In [7]:
print 'Here is a new line \nand here is the second line'

Here is a new line
and here is the second line

In [8]:
# To use print function from Python 3 in Python 2
from __future__ import print_function

print('Hello World')

Hello World

In [9]:
len('Hello World')

11

In [3]:
s = 'Hello friend'

In [11]:
s

'Hello friend'

In [12]:
print(s)

Hello friend

In [13]:
s[0]

'H'

In [14]:
# Grab the string starting from index 1.
s[1:]

'ello friend'

In [15]:
# Grab the string from the begining up to index 3, but excluding index 3. 
s[:3]

'Hel'

In [16]:
s[:]

'Hello friend'

In [17]:
s[-1]

'd'

In [18]:
s[-2]

'n'

In [19]:
s[:-1]

'Hello frien'

In [6]:
'''
Double colon in string means

'nothing for the first argument, nothing for the second, and jump by three'. It gets every third item of the sequence sliced


'''

s[::2]

'Hlofin'

In [7]:
s[::-1] # Reverse a string

'dneirf olleH'

In [31]:
s = s + ' Concatenate me!'

In [32]:
s

'Hello friend Contenate me! Concatenate me!'

In [33]:
letter = 'z'

In [34]:
letter*10

'zzzzzzzzzz'

In [35]:
s.upper()

'HELLO FRIEND CONTENATE ME! CONCATENATE ME!'

In [36]:
s.lower()

'hello friend contenate me! concatenate me!'

In [37]:
s.split()

['Hello', 'friend', 'Contenate', 'me!', 'Concatenate', 'me!']

In [38]:
s.split('e')

['H', 'llo fri', 'nd Cont', 'nat', ' m', '! Concat', 'nat', ' m', '!']

In [1]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'